@using MagicItems.Shared.Models
@using MudBlazor

<div >
    <MudContainer MaxWidth="MaxWidth.Medium">
        <MudPaper>
                <div class="board-container">
                    @foreach (var item in Items)
                    {
                        <BoardItem Item="item" IsEditing="IsEditing" />
                    }
                </div>           
        </MudPaper>
    </MudContainer>
</div>
    

    




@code {
    [Parameter]
    public List<Items> Items { get; set; } = new List<Items>();
    [Parameter]
    public bool IsEditing { get; set; }

}

