@using MagicItems.Shared.Models
@using MagicItems.UI.Services
@using MudBlazor

@inject CategoryService categoryService
@inject RarityServicecs raritiesService

<div >
    <MudContainer MaxWidth="MaxWidth.Medium">
        <MudPaper>
                <div class="board-container">
                    @foreach (var item in Items)
                    {
                    <BoardItem Item="item" IsEditing="IsEditing" CategoryList="@CategoryList" RarityList="@RarityList" OnShowDetails="OnItemSelected" />
                    }
                </div>           
        </MudPaper>
    </MudContainer>
</div>
    

    




@code {
    [Parameter]
    public List<Items> Items { get; set; } = new List<Items>();
    [Parameter]
    public bool IsEditing { get; set; }
    [Parameter]
    public List<Category> CategoryList { get; set; } = new List<Category>();
    [Parameter]
    public List<Rarities> RarityList { get; set; } = new List<Rarities>();
    [Parameter] 
    public EventCallback<Items> OnItemSelected { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await LoadCategories();
        await LoadRarities();
    }

    private async Task LoadCategories()
    {
        var categoryList = await categoryService.GetCategoriesAsync();
        CategoryList = categoryList.ToList();
    }

    private async Task LoadRarities()
    {
        var rarityList = await raritiesService.GetRaritiesAsync();
        RarityList = rarityList.ToList();
    }

}

