@page "/"

@using MagicItems.Shared.Models
@using MagicItems.UI.ReusableComponents

<MudToggleIconButton @bind-Toggled="isEditing" Icon="@Icons.Material.Filled.Edit" Color="Color.Inherit" ToggledIcon="@Icons.Material.Filled.RemoveRedEye" ToggledColor="Color.Inherit" />
<BoardItem Item="item" IsEditing="isEditing"></BoardItem>

<h3>Section 1</h3>
<p>This is the content of the first section.</p>

<div style="margin: 20px 0;"></div>

<h3>Section 2</h3>
<p>This is the content of the second section.</p>

<div style="margin: 20px 0;"></div>

<h3>Section 3</h3>
<p>This is the content of the third section.</p>


@code {
    public Items item = new Items();
    public bool isEditing = false;
}