@page "/"

@using MagicItems.Shared.Models
@using MagicItems.UI.ReusableComponents

<MudToggleIconButton @bind-Toggled="isEditing" Icon="@Icons.Material.Filled.Edit" Color="Color.Inherit" ToggledIcon="@Icons.Material.Filled.RemoveRedEye" ToggledColor="Color.Inherit" />
<Board Items="itemList" IsEditing="isEditing" />

@page "/board"

<div class="board-container">
    <div class="board-item">
        Item 1
    </div>
    <div class="board-item">
        Item 2
    </div>
    <div class="board-item">
        Item 3
    </div>
</div>





<div style="margin: 20px 0;"></div>



<div style="margin: 20px 0;"></div>

<h3>Section 3</h3>
<p>This is the content of the third section.</p>


@code {
    public List<Items> itemList = new List<Items>();
    public bool isEditing = false;

    protected override async Task OnInitializedAsync()
    {
        itemList.Add(new Items());
        itemList.Add(new Items());
        itemList.Add(new Items());
        itemList.Add(new Items());
    }
}